body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

section {
  /* border: solid black 2px; */
  /* background-color: rgb(216, 216, 231); */
  padding: 1.2rem;
}

header {
  background-color: lightgreen;
}

.hero {
  background: rgb(23, 11, 59);
  background: linear-gradient(
    128deg,
    rgb(19, 8, 57) 17%,
    rgba(13, 78, 92, 0.999) 59%,
    rgb(33, 16, 44) 100%
  );
  height: 100vh;
  color: rgb(216, 216, 231);
  font-size: 20px;
}

/* body { */
/* box-sizing: border-box;
   background-color: #fbecf0;
  background-image: linear-gradient(0deg, #fbeaf0 0%, #9ad3ba 120%); */

/* background-color: #fff7f4; */
/* background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ); */

/* this was
  font-family: "Nunito Sans", sans-serif;
  color: rgb(233, 233, 249);
this */

/* color: rgb(246, 246, 250); */
/* color: rgb(39, 39, 40); */

/* this was
  font-size: 18px;
  letter-spacing: 0.6px;
  font-weight: normal;
  margin-left: 25px; */

/* background: rgb(238, 174, 202);
  background: linear-gradient(
    153deg,
    rgba(238, 174, 202, 1) 19%,
    rgba(148, 187, 233, 1) 69%,
    rgba(6, 6, 89, 1) 100%
  ); */
/* } */

footer {
  height: 100px;
  background-color: rgb(234, 242, 241);
  font-size: 1.125rem;
  color: #690909;
  padding-left: 80px;
  padding-top: 30px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
}

.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 80%;
  box-shadow: 5px 4px 14px rgba(10, 163, 158, 0.728);
  display: inline-block;
}

.header__menu {
  padding: 20px;
  align-items: center;
  list-style: none;
  font-size: 1.3rem;
  display: none;
}

.header__link {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.02em;
}

a {
  color: rgb(233, 233, 249);
  transition: color 0.4s;
}

a:hover {
  color: rgba(246, 32, 96, 0.842);
  font-size: 1.3rem;
  text-decoration: underline;
}

h1 {
  margin: 0;
}
h2 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.08rem;
  margin-bottom: 18px;
  margin-top: auto;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
}

.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hero-text h1 {
  font-size: 95px;
  color: rgb(49, 205, 200);
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 300px;
}

.hero-text p {
  font-size: 30px;
}

.socials {
  margin-bottom: 300px;
}

.social {
  margin: 20px;
}

.information {
  /* display: flex; */
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 20px;
  /* align-items: center; */
  /* flex-direction: row; */
  color: #22094b;
  margin-left: 80px;
}

.info {
  display: flex;
}

.avatar-big {
  width: 300px;
  border-radius: 180px;
}

.avatar-big-container {
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  border-radius: 16px;
  color: #22094b;
}

.bg-mint {
  color: #22094b;
}

.skills-list {
  padding: 0;
  display: block;
  flex-direction: row;
  gap: 0rem;
}

.skill {
  border: 2px solid rgb(196, 77, 251);
  color: rgb(196, 77, 251);
  border-radius: 5px;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin-bottom: 0.5rem;
}
.skill:not(:last-child) {
  margin-right: 0.5rem;
}

.cards-container {
  padding: 0;
  display: block;
}
.card:not(:last-child) {
  margin-bottom: 1rem;
}

.card {
  background-color: rgb(234, 242, 241);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.emphasis {
  color: #22094bc9;
  font-style: italic;
}

.information a {
  color: #d750f5;
}

a:hover {
  color: rgba(246, 32, 96, 0.842);
}

.information h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.btn {
  background: rgb(19, 8, 57) 17%;
  padding: 15px 20px;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  font-size: medium;
  border-radius: 15px;
}

.btnRemove {
  background: rgb(245, 244, 248) 17%;
  margin-top: 5px;
  padding: 10px 20px;
  color: #f01d1d;
  font-family: inherit;
  cursor: pointer;
  font-size: medium;
  border-radius: 15px;
}

.btn:hover {
  opacity: 0.5;
}

.btnRemove:hover {
  opacity: 0.5;
}

.form-group input,
.form-group textarea {
  width: 40%;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  display: inline-block;
  margin-right: 1rem;
  font-family: inherit;
  font-style: italic;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-label {
  margin-bottom: 0.25rem;
  color: #22094bb2;
}

.messages-list {
  display: block;
}

@media only screen and (min-width: 768px) {
  .card {
    flex-direction: row;
    justify-content: space-between;
  }
  .header__menu {
    display: flex;
  }
}
